<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>Share_WeChat</string>
		<key>title</key>
		<string>微信好友</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Share_WeChat_Moments</string>
		<key>title</key>
		<string>微信朋友圈</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Share_QQ</string>
		<key>title</key>
		<string>QQ</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Share_Sina</string>
		<key>title</key>
		<string>新浪微博</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Share_Copylink</string>
		<key>title</key>
		<string>复制链接</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Share_Email</string>
		<key>title</key>
		<string>电子邮件</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Share_YoudaoNote</string>
		<key>title</key>
		<string>有道云笔记</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Share_Evernote</string>
		<key>title</key>
		<string>印象笔记</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Share_Tencent</string>
		<key>title</key>
		<string>腾讯微博</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Share_Message</string>
		<key>title</key>
		<string>信息</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Share_Instapaper</string>
		<key>title</key>
		<string>Instapaper</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Share_Renren</string>
		<key>title</key>
		<string>人人</string>
	</dict>
</array>
</plist>
